@import "tailwindcss";

/* variables principales */
:root {
  --background:  #d9c2a3;
  --foreground: #171717;

  /* font par Next.js */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hand: var(--font-rocksalt);
}

/* Dark mode  un peu bancal*/
@media (prefers-color-scheme: dark) {
  :root {
    --background:  #d9c2a3;
    --foreground: white;
  }
}

/* base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* rock Salt pour header + nom */
header a,
.name {
  font-family: var(--font-rocksalt);
}

/* rock Salt pour titres principaux */
h1 {
  font-family: var(--font-rocksalt);
  letter-spacing: 1px;
}